footer {
    background-color: lightblue;
    border: solid;
    border-color: black;
}

.containerFootertext {
    display: flex;
    justify-content: space-evenly;
    font-family: cursive;
}
.footerrecomendation 
{
    font-style: italic;
}