header {
    background-color: lightblue;
    border: solid;
    border-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: cursive;
}

nav{
    display: flex;
align-items: center;
}
.ContainerHeaderTitle {
    order: 1;
}

.ContainerHeaderLinks {
    order: 2;
    text-align: right;
}