.imgSizeFood {
    height: 200px;
    width: 200px;
}

.shoppingcartSize {
    height: 15px;
    width: auto;
}

.foodImgFrontpage {
    height: 100px;
    width: 150px;
}
.restaurantImg {
    height: 200px;
    width: 300px;
}
.pizzaImg{
    height: 200px;
    width: 200px;
}
.shoppingcartAlert{
    height: 15px;
    width: auto;  
}

.thankyouImg {
    height: 300px;
}