html {
    margin: 0;
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    height: 100%;
    width: 100%;
}
#footerToBottom {
    height: 92.8%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pizzasContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.containerRestaurantIndex {
    display: flex;
    justify-content: space-around;
}

.positionh1 {
    text-align: center;
}

.containerFoodIndex {
    display: flex;
    justify-content: space-around;
    

}

.saladContainer {
    display: flex;
    justify-content: space-around;
}

.softdrinksContainer {
    display: flex;
    justify-content: space-around;
}

.containerFeedback {
    text-align: center;
}

.containerCounter {
    margin-right: 10px;
}

.containerShoppingcartAlert{
    display: flex;
    align-items: center;
    position: fixed;
}
.containerShoppingcartCounter
{
    display:flex;
    justify-content: end;
}
.pizzaDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pizzaDetails h5 {
    margin: 0;
}

.saladDetails {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.softdrinkDetails {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}


.foodItem {
    margin: 10px;
    text-align: center;
}


.foodImgContainer {
    position: relative; 
}



.foodText {
    position: absolute; 
    top: 50%; /* Vom oberen Rand um 50% vertikal ausrichten */
    left: 50%; /* Vom linken Rand um 50% horizontal ausrichten */
    transform: translate(-50%, -50%); /* Zum Zentrieren verwenden */
    background: rgba(255, 255, 255, 0.7); /* Hintergrundfarbe für den Text da man die Farben Weiss und Schwarz schlecht sieht auf den Bildern*/
    padding: 5px; /* Innenabstand für den Text */
}
.pizzaItem {
    margin-bottom: 2%;
}

.containerThankyouHeading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerThankyouImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedbackInput {
    display: flex;
    justify-content: flex-end;
}

.feedbackQuestion {
    display: flex;
    justify-content: flex-start;
}