a {
    color: black;
    text-decoration: none;
    font-family: cursive;
}

.sizeIngrediants {
    font-size: xx-small;
}

p {
    font-family: cursive;
}

h1 {
    font-family: cursive;
}

h5 {
    font-family: cursive;
}
label {
    font-family: cursive;
}
button {
    background-color: lightblue;
}